project_id = "new-map-project-1538399427267"
project_number = "995265336172"
region = "us-central1"
workflow_source_path = "./config/workflow.yaml"
# Set to true only when the Terraform runner identity has project IAM policy update permissions.
manage_iam_bindings = false
# Optional: override if you need to add/remove managed APIs per environment.
# required_apis = [
#   "artifactregistry.googleapis.com",
#   "iam.googleapis.com",
#   "logging.googleapis.com",
#   "run.googleapis.com",
#   "secretmanager.googleapis.com",
#   "serviceusage.googleapis.com",
#   "storage.googleapis.com",
#   "workflows.googleapis.com"
# ]